{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    {{- if .heroImage }}
    <div class="hero-image">
        <img src="{{ .heroImage }}" alt="{{ .Title }}" loading="eager" />
    </div>
    {{- end }}
    <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <div class="entry-content md-content">
        {{ $opts := dict "display" "block" }}
        {{ .Content | $.Page.RenderString $opts }}
    </div>
    <footer class="entry-footer">
        {{ partial "social_icons.html" (dict "align" site.Params.homeInfoParams.AlignSocialIconsTo) }}
    </footer>
</article>
{{- end -}}
